<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NNS AUDIT</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/nnsaudit.css">

</head>

<body>
    <div class="container">
        <h1>Live Sheet</h1>
        <!-- <a href="home" class="back-link">Back</a> -->
        <img src="/static/kgpng.png" alt="">
        <br>
    </div>

    <div class="table1">
        <table id="live-table">
            <thead class="tblcolor">
                <tr>
                    <th>LOTNO</th>
                    <th>Issue Date</th>
                    <th>Article</th>
                    <th>Rough PCS</th>
                    <th>Rough CTS</th>
                    <th>AVG Size</th>
                    <th>Labour</th>
                    <th>By Product Value</th>
                    <th>(Rel-4%)</th>
                    <th>Current(Rel-4%)</th>
                    <th>Complete %</th>
                    <th>StoneBank %</th>
                    <th>New Lab Received %</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<footer>
    <div class="footer">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="NNS_AUDIT">NNS AUDIT</a>
            <a href="pcs">PCS</a>
            <a href="live" class="active">LIVE</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
</footer>